html {
  margin: 0 auto;
  background-image: url("Assets/nasa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #adabab;
}
body {
  min-height: 100px;

  /* background-image:url("Assets/unix.jpg");*/
  /*background-color: #141b1e;*/
  font-size: large;
  font-weight: 500;
  margin: 0 auto;
}
ul {
  list-style-position: inside;
}
.codegena {
  float: left;
}

a {
  color: #8ccf7e;
  text-decoration: none;
}
a:hover {
  width: 150%;
  height: 150%;
  background-color: #515554;
  transition: ease 0.15s;
}
#content {
  height: 294px;
  width: 300px;

  padding-left: 5px;
  border: 2px solid;
  border-radius: 5px;
  border-color: #141b1e;
  margin-left: 10px;
}

#content,
#header {
  background-color: #141b1e;
  margin: auto;
  width: 100%;
  text-align: center;
}

#logo {
  float: left;
  margin: 0 auto;

  transition: background-color 0.3 ease;
}
#logo:hover {
  background-color: #b3b9b8;
  border-radius: 10%;
}
#nav {
  text-align: justify;
}
#info {
  display: flex;
  justify-content: center;
}
#features {
}

.nav-barend {
  margin-top: 0;
  font-size: 1.35em;
}
.nav {
  background-color: #232a2d;
  margin-top: 5px;
  height: 78px;
}
